<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/todo.css">
      <link rel="icon" href="data:;base64iVBORwOKGgo=">
      <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper blue"></div>
                  <div class="fixed-action-btn horizontal click-to-toggle" style="top: 0.5px; left: 1230px;">
                      <a class="btn-floating btn-large purple">
                      <i class="material-icons">menu</i>
                      </a>
                    <ul>
                      <li><a href="index.html" style="bottom: 15px; right: 650px" class="btn-floating btn-large yellow black-text">Home</a></li>
                      <li><a href="admin.html" style="bottom: 15px; right: 950px" class="btn-floating btn-large red black-text">Admin</a></li>
                    </ul>
                  </div>
            </nav>
        </header>
    <main>
        <div class="container">
            <div class="row">
                <h1 class="center-align">ToDo Table</h1>
            </div>
                  <table>
        <table class="highlight">
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Working On</th>
              <th data-field="price">Completed</th>
          </tr>        
        </thead>
        <tbody>
          <tr>
            <td>Lucas</td>
            <td>Kill</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Anto</td>
            <td>Bribe</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Jordan</td>
            <td>Wreck At CS-GO</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>
            <div class="row">
                <div class="col s12 main-container">
                    
                </div>
            </div>
        </div>  
    </main>
        
        <footer class="page-footer purple">
            <div class="container">
                <p ><a href="#">Back to the top</a></p>
            </div>
            <div class="footer-copyright blue">
                <div class="container">
                    @2016 Jake Young
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/todo.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script src="js/handlebars-v4.0.5 (1).js" type="text/javascript"></script>
      
      <script id="blogs-template" type="text/x-handlebars-template">
          {{#each posts}}
            <div class="blog-post">
            <div class="chip">
              <i class="material-icons ">done</i>
              <i class="material-icons deleteA" type="submit" name="action" data={{objectID}}>delete</i>
      
                <h2 class="blog-post-title">{{title}}</h2>
                <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
                <div>{{content}}</div>
             </div>
          </div>
          {{/each}}
      </script>
    </body>
  </html>